@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.Part1MainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    height: 33rem;
}

.Part1-Image-Container{
    display: grid;
    justify-content: right;
   
}

.Main-Logo{
    margin-top: 2rem;
    width: 600px;
    height: 550px;
}

.Part1-Right-Container{
    margin-top: 12rem;
}
.ClubTitleText-Part1{
    font-size: 20px;
    font-weight: 600;
    color: #4D4D4F;
}
.MotionText-Part1{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 90px;
    color: #808080;
    
}

@media (min-width: 380px) and (max-width: 650px)
{
    .Part1MainContainer{
        grid-template-columns: 1fr;
    }
    .Part1-Right-Container{
        display: grid;
        margin-top: 0px;
        justify-content: center;
        margin-top: -7rem;
        margin-bottom: 2rem;
    }
    .MotionText-Part1{
        margin-top: -1rem;
    }

    .Main-Logo{
        margin-top: 2rem;
        width: 500px;
        height: 450px;
    }
    
}

@media (min-width: 230px) and (max-width: 379px)
{
    .Part1MainContainer{
        grid-template-columns: 1fr;
    }
    .Part1-Right-Container{
        display: grid;
        margin-top: 0px;
        justify-content: center;
        margin-top: -7rem;
        margin-bottom: 2rem;
    }
    .MotionText-Part1{
        margin-top: -1rem;
    }
  
    .Main-Logo{
        margin-top: 3rem;
        width: 350px;
        height: 300px;
    }
}